
test.py

*.db

# Папка с временными аудиофайлами
temp/

# Виртуальное окружение Python
.venv/
venv/

# Файл с секретными ключами (для локальной разработки)
.env

# Системные файлы Python
__pycache__/
*.pyc